/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.main-container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-container sup{
    font-size: 10px;
    color: blue;
}

.main-container__left img {
    width: 300px;
    height: 450px; 
}
.main-container__right{
    border: 2px solid rgb(252, 252, 252);
    width: 650px;
    height: 450px;
}

.main-container__right--title{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    
}

.main-container__right--subtitle{
    color: #32c6f7;
    margin-top: 5px;
}
.main-container__right--batery{
    height: 150px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.main-container__right--batery h2 {
    margin-bottom: 15px;
}


.main-container__right--charge{
   
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 

}

.main-container__right--time, .main-container__right--hours p {
    line-height: 25px;
}

.main-container__right--charge h2{
    margin-bottom: 15px;
}